:root {
  --white: white;
  --black: black;
  --purple: #685596;
  --primary: #685596;
  --text: #444;
  --tsgrad: linear-gradient(45deg, rgba(158,102,159,1) 0%, rgba(119,142,186,1) 100%);
  --radius: 4px;
}
body,html{
	width: 100vw;
	overflow-x: hidden;
	font-family: proxima-nova, sans-serif;
	line-height: 1.5em;
	font-size: 18px;
	color: var(--text);
}
h1,h2,h3,h4,h5,h6,.sofia,button{
	 font-family: sofia-pro, sans-serif;
	 font-weight: bold;

}
.h1{
	color:var(--primary);
	font-size: 2em;
	margin-top: 0.5em;
	margin-bottom: 1em;
}
@media screen and (min-width:42em){
	.h1{
		font-size: 4em;
	}
}
p{
	font-family: proxima-nova, sans-serif;
	margin-bottom: 1em;
}
.button{
	--webkit-appearance:none;
	background: var(--tsgrad);
	border: none;
	font-size: 1em;
	color:var(--white);
	border-radius:var(--radius);
	font-weight: 400;
}
@media screen and (min-width:42em){

	.header-content{
		padding-left: 10em;
	}
	.introtext{
		font-size: 1.5em;
		line-height: 1.5em;
	}
	.intrologo{
		width: 120%;
		max-width: 120%;
		position: relative;
		margin-left: -33%;
	}
}
.site-logo {
	width: 300px;
	max-width: 100%;
}
.full-width{
	width: 100vw;
	left: 50%;
	transform: translateX(-50%);
}
.blurredbg{
	-webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.7);
}

.hamburger{
	display: block;
	width: 3em;
	height: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	position: relative;
}
.hamburger:before,
.hamburger:after,
.hamburger span{
	height: 0.6em;
	background: var(--purple);
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	content: '';
}
.hamburger span{
	top: 50%;
	transform-origin: 50%;
	transform: translateY(-50%);
}
.hamburger:before{
	transform-origin: 50% 50%;
	top: 0;
}
.hamburger:after{
	transform-origin: 50% 50%;
	bottom: 0;
}
#hamburger{
	display: none;
}
#hamburger:checked ~ .hamburger span{
	display: none;
}
#hamburger:checked ~ .hamburger:after{
	transform: translateY(-50%) rotate(-45deg);
	top: 50%;
}
#hamburger:checked ~ .hamburger:before{
	transform: translateY(-50%) rotate(45deg);
	top: 50%;
}
.mobile-nav{
	position: fixed;
	top: 80px;
	left: 0;
	width: 100%;
	min-height: 100vh;
	display: none;
}
#hamburger:checked ~ .mobile-nav{
	display: block;
}
.vh100{
	height: 100vh;
}
.fill{
	min-height: 100%;
	min-width: 100%;
	width: auto;
	height: auto;
	position: relative;
	left: 50%;
	top: 50%;
	transform:translateY(-50%) translateX(-50%);
}
.master-wrap{
	max-width: 100%;
	width: 1600px;
}
/*  */
.hp-header{
	min-height: 100vh;
}
.bg-holder{

}
.header-content{

}
.leaf-bg{
	right: 0;
	top: 0;
	transform:translateY(-10%) translateX(10%);
}